h1 {
  color: white !important;
}

body {
  background: #000; /* pure black base */
}

.link-press-photos {
  fill: #fff;
  background: rgb(23, 7, 69);
  background: linear-gradient(
    90deg,
    rgb(77, 11, 159) 0%,
    rgb(0, 123, 172) 50%,
    rgb(245, 217, 7) 100%
  );
}

.link-one-sheet {
  fill: #fff;
  background: rgb(23, 7, 69);
  background: linear-gradient(
    90deg,
    rgb(0, 121, 71) 0%,
    rgb(68, 77, 80) 50%,
    rgb(239, 6, 192) 100%
  );
}