h1, h2, h3 h4, h5, h6 {
  color: rgb(221, 255, 0) !important;
}
p {
  color: rgb(255, 255, 255) !important;
}

body {
  background-image: url("/pattern.jpg");
  background-size:contain;
  background-repeat:repeat;
}

.link-press-photos {
  fill: #fff;
  background: rgb(23, 7, 69);
  background: linear-gradient(
    90deg,
    rgb(77, 11, 159) 0%,
    rgb(0, 123, 172) 50%,
    rgb(245, 217, 7) 100%
  );
}

.link-one-sheet {
  fill: #fff;
  background: rgb(23, 7, 69);
  background: linear-gradient(
    90deg,
    rgb(0, 121, 71) 0%,
    rgb(68, 77, 80) 50%,
    rgb(239, 6, 192) 100%
  );
}